{% extends "base.html" %}
{% load static %} <!-- Load the static template tag here -->

{% block content %}
<!-- Include Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Include custom CSS -->
<link href="{% static 'css/jobs.css' %}" rel="stylesheet">

<div class="container">
  <header class="pt-4 pb-4">
    <h1>Jobs on Djinni</h1>

    {% include 'jobs/filters.html' %}
    {% include 'jobs/job_list.html' %}
    {% include 'jobs/pagination.html' %}
  </header>
</div>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Include custom JS -->
<script src="{% static 'js/jobs.js' %}"></script>
{% endblock content %}